# Web Sémantique
rdflib==7.0.0
owlready2==0.45
SPARQLWrapper==2.0.0

# NLP / Embeddings
transformers>=4.57.3
torch>=2.9.1
sentence-transformers>=5.2.0

# Chatbot & Interface
streamlit>=1.52.0
langchain>=1.2.0

# Utilitaires
pandas>=2.3.3
numpy>=2.3.2
python-dotenv>=1.0.0
